/* Usamos essa propriedade para deixar o arquivo html em um tamnho padrão
Com a propriedade Boder-box  o tamanho do elemento é calculado a partir do conteúdo interno,
incluindo as bordas e o preenchimento.*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > header {
    background-color: white;
    padding: 16px 0;
    color: black;
    font-size: 25px;
    font-family: monospace;
}
/* Esse seletor serve para deixar os artigos da header na mesma linha através do comando display: inline. */
header li {
    display: inline;
    margin-right: 30px;
    text-align: center;
}
header li a {
    color: black;
    font-size: 25px;
}
/*  Esse comando serve para ajustar o espaçamento dos artigos do site criando uma tag div e nomeando a class como container.
    Para que a alteração dentro do seletor funcione devemos sempre usar o nome do class que criamos e desejamos alterar ex: .container { alteração }  */
.container {
    width: 1366px;
    margin: 0 auto;
}
/*  - Neste comando através da tag div class="articles" coloca os artigos lado a lado por seção através do comando display: flex;.
    - O artigo em questão está com 3 notícias, caso eu queira adicionar mais uma notícia e que ela fique enaquadarada dentro da página só que na linha de baixo
uso o comando flex-wrap: wrap; dentro do seletor articles.
    - Para que o espaço seja distribuído por igual entre os artigos usamos o comando justify-content: espace-beteween   */
.articles{
    display: flex;
    justify-content: space-between;
}
.articles article img{
    height: 272px;
    margin-top: 8px;
}
.articles article{
    width: 30%;
}
section{
    padding: 16px 0;
}
#sports{
    background-color:rgba(161, 161, 161, 0.681);
    font-family: cursive;
}
#sports h2{
    color:black;
    font-size: 35px;
    text-align: left;
    margin-bottom: 25px;
}
#sports .articles article p{
    color: black;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sports h3{
    color: black;
    font-size: 25px;
}
#sports article a {
    background-color: black;
    color: white;
    padding: 6px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sports .articles article a:hover {
    text-decoration: underline;
}
#economy{
    background-color: rgba(13, 164, 13, 0.356);
    font-family: cursive;
}
#economy h2{
    color: rgb(8, 103, 30);
    font-size: 35px;
    text-align: left;
    margin-bottom: 25px;
}
#economy .articles article p{
    color: black;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#economy h3{
    color: black;
    font-size: 25px;
}
#economy article a {
    background-color: rgba(13, 164, 13, 0.356);
    color:black;
    padding: 6px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#economy .articles article a:hover {
    text-decoration: underline;
}
